.our_project_sec {
    padding: 80px 0px;
}
.project_item {
    position: relative;
    z-index: 0;
}
.project_item .img-box {
    height: 250px;
    display: inline-block;
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 90;
    margin: 10px 0;
    border-radius: 6px;
}
.project_item .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project_item a.img-box img {
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}
.project_item a.img-box:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.project_item .img-box:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: "";
    background-color: #0c1017;
    opacity: 0.65;
    z-index: 99;
    transition: 0.3s ease-out;
}
.project_item .img-box:hover:before {
    background-color: #0a7aa3;
    opacity: 0.85;
}
.project_item .utf-cat-img-box-content {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
    bottom: 30px;
    text-align: center;
}
.project_item .utf-cat-img-box-content h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: #fff;
    margin: 0;
}
.project_item .utf-cat-img-box-content span {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 8px;
    line-height: 20px;
    margin-top: 8px;
    display: inline-block;
}


@media (max-width: 480px) {
    .our_project_sec {
        padding: 40px 0px;
    }
    .project_item .utf-cat-img-box-content h4 {
        font-size: 16px;
        line-height: 22px;
    }
    .project_item .utf-cat-img-box-content span {
        font-size: 12px;
        line-height: 18px;
    }
}